<!-- admin_panel.html -->
{% extends "frontend_site/base/base.html" %}

{% load static %}

{% block title %}
    Painel Administrativo
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend_site/css/admin_panel/admin_panel.css' %}">
{% endblock %}

{% block header_title %}
    Painel Administrativo
{% endblock %}

{% block content %}
    <div class="container_principal">
        <div class="container_secundario">
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
        </div>
        <div class="container_secundario">
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
        </div>
        <div class="container_secundario">
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
            <div class="caixa">
                Aqui teremos ícones iniciais de acesso rápido!
            </div>
        </div>
    </div>    
{% endblock %}
