<!-- register.html -->
{% extends "frontend_site/base/base.html" %}

{% block main_class %}sem-layout{% endblock %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend_site/css/auth/registration.css' %}">
{% endblock %}

{% block header %}
    <!-- Cabeçalho omitido para registro -->
{% endblock %}

{% block lateral_bar %}

{% endblock %}

{% block content %}

    <div class="caixa" id="caixa_register">
        {% if messages %}
            <ul class="lista_mensagens" data-redirect-url="{% url 'login' %}">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="container" id="container_register">
            <h2>Cadastre-se</h2>
            <form action="{% url 'register' %}" method="POST">
                
                {% csrf_token %}
                <label for="usuario">Usuário:</label>
                <input type="text" id="usuario" name="usuario" value="{{usuario}}" required>

                <label for="primeiro_nome">Primeiro Nome:</label>
                <input type="text" id="primeiro_nome" name="primeiro_nome" value="{{primeiro_nome}}" required>

                <label for="sobrenome">Sobrenome:</label>
                <input type="text" id="sobrenome" name="sobrenome" value="{{sobrenome}}" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{email}}" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <label for="confirm_senha">Confirmação de senha:</label>
                <input type="password" id="confirm_senha" name="confirm_senha" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>
        
        <script src="{% static 'frontend_site/js/login_register/login_register.js' %}"></script>           
    </div>
    
{% endblock %}