<!-- login.html -->
{% extends "base/base.html" %}

{% block main_class %}sem-layout{% endblock %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_register.css' %}">
{% endblock %}

{% block header %}
    <!-- Cabeçalho omitido para login -->
{% endblock %}

{% block lateral_bar %}

{% endblock %}

{% block content %}

    <div class="caixa" id="caixa_login">
        <div class="container">
            <h2>Login</h2>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Entrar</button>
            </form>
            <p id="txt_cadastro">Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
        </div>
    </div>  

    {% if messages %}
        <ul class="lista_mensagens">
            {% for message in messages %}
                <li class="message {{message.tags}}">{{ message }}</li>

                {% if 'success' in message.tags %}
                    <!-- Script para redirecionar após um pequeno atraso -->
                    <script type="text/javascript">
                        setTimeout(function() {
                            window.location.href = "{% url 'home' %}";  // Redireciona para a página 'home' após o atraso
                        }, 2000);  // 2 segundos de espera
                    </script>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}



