<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontend_site/global.css' %}">
    <style>
        .footer {
            position:fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
            padding: 10px 0;
        }

        #logo_apice {
            width: 30px;
            height: auto;
            padding-left: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Entrar</button>
        </form>
        <p>Não tem uma conta? <a href="{% url 'register' %}">Cadastre-se</a></p>
    </div>
    {% if messages %}
        <ul class="lista_mensagens">
            {% for message in messages %}
                <li class="message {{message.tags}}">{{ message }}</li>

                {% if 'success' in message.tags %}
                    <!-- Script para redirecionar após um pequeno atraso -->
                    <script type="text/javascript">
                        setTimeout(function() {
                            window.location.href = "{% url 'home' %}";  // Redireciona para a página 'home' após o atraso
                        }, 2000);  // 2 segundos de espera
                    </script>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
</body>
<footer class='footer'>
    <p>Controle de Processos Casa dos Relojoeiros</p>
    Ápice Serviços
    <img id="logo_apice" src="https://d36urhup7zbd7q.cloudfront.net/ff008fa2-82fd-4d7f-a273-6e159a6949e0/apicesclogotipo.format_png.resize_200x.png#logo">
</footer>
</html>
