<!-- register.html -->
{% extends "base/base.html" %}

{% block main_class %}sem-layout{% endblock %}

{% load static %}

{% block title %}Registro{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend_site/login_register.css' %}">
{% endblock %}

{% block header %}
    <!-- Cabeçalho omitido para registro -->
{% endblock %}

{% block lateral_bar %}

{% endblock %}

{% block content %}

    <div class="caixa" id="caixa_register">
        <div class="container" id="container_register">
            <h2>Cadastre-se</h2>
            <form action="{% url 'register' %}" method="POST">
                
                {% csrf_token %}
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="{{nome}}" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="{{email}}" required>

                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>

                <label for="confirm_senha">Confirmação de senha:</label>
                <input type="password" id="confirm_senha" name="confirm_senha" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>

        {% if messages %}
            <ul class="lista_mensagens">
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                    {% if 'success' in message.tags %}
                        <!-- Script para redirecionar após um pequeno atraso -->
                        <script type="text/javascript">
                            setTimeout(function() {
                                window.location.href = "{% url 'login' %}";  // Redireciona para a página 'home' após o atraso
                            }, 2000);  // 2 segundos de espera
                        </script>
                    {% endif %}
                {% endfor %}
            </ul>
    </div>
    {% endif %}

{% endblock %}