/* LAYOUT GERAL */
/* (.CLASSES) */
.formulario {
    display:grid;
    align-content: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
}

.linha_campos {
    display: flex;
    gap: 20px;
    align-items: center;
}

.botao-container {
    display: flex;
    justify-content: center; /* Centraliza o botão */
    margin-top: 20px; /* Espaço acima do botão */
}

/* (.SUB-CLASSES) */
.linha_campos .campo {
    flex-direction: column;
    flex: 1;
}

/* ESTILOS ESPECÍFICOS */
/* (#ID) */
#campo_maior_1 {
    flex: 3.12; /* Ocupa 2/3 do espaço */
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#descricao {
    max-width: 745px !important;
}

/* ESTILOS DE CAMPOS */
/* (LABELS) */

/* (INPUTS) */
.formulario input[type='text'],
.formulario input[type='number'] {
    width: 100%;
}

.formulario input[type='date'] {
    width: 150px; /* Define um tamanho menor */    
}

/* (TEXT-AREA) */
.formulario textarea[id='observacao'] {
    height: 100px;
    width: 100%;
}

/* (ESILOS DE BOTÕES) */
button[type='submit'] {
    width: 20%;
    margin-top: 25px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}