/* (.CLASSES) */
.linha_campos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* 4 colunas iguais */
    align-items: center;
    gap: 20px;
    width: 100%;
}

.formulario {
    display:grid;  
    align-content: center;
    width: 100%;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 40px;
    border-style: solid;
    border-width: 1px;
}

/* (.SUB-CLASSES) */
.campo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* ESTILOS ESPECÍFICOS */
/* (#ID) */
#campo_data_liberacao_blu {
    grid-column: 4; /* Posiciona na 4ª coluna */
}

#linha_campos_4 .campo {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#data_compra,
#data_liberacao_blu {
    max-width: 150px;
    color: rgb(93, 150, 255);
}

/* ESTILOS DE CAMPOS */
/* (LABELS, INPUTS, TEXTAREA) */
#observacao {
    height: 50px;
}

#menu_lancamento {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    position:fixed;
    top: 43px;
    left: 175px;
    padding: 7px 0px 7px 15px;
    background: #dddddd; /* Ou a cor que desejar */
    z-index: 1000; /* Para ficar acima de outros elementos */
}

/* ESTILOS DE BOTÕES */
button {
    width: 100%;
    max-width: 150px;
    font-size: 12pt;
    padding: 5px 40px 5px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id='botao_gravar'] {
    background-color: #4CAF50;
    color: white;
}

button[id='botao_gravar']:hover {
    background-color: #45a049;
}

button[id='botao_update'] {
    background-color: #fffc3f;
    color: rgb(127, 127, 127);
}

button[id='botao_update']:hover {
    background-color: #dfe161;
}

