/* (.CLASSES) */
.linha_campos {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.container_filtros {
    display: flex;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    background-color: gainsboro;
}

.container_relatorio {
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    width: 100%;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    overflow-x: auto;
}

/* ESTILOS ESPECÍFICOS */
/* (#ID) */
#tabela_lancamentos {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

/* ESTILOS DE BOTÕES */
button {
    width: 100%;
    font-size: 12pt;
    padding: 5px 40px 5px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[id='botao_gravar'] {
    background-color: #4CAF50;
    color: white;
}

button[id='botao_gravar']:hover {
    background-color: #45a049;
}

button[id='botao_update'] {
    background-color: #fffc3f;
    color: rgb(127, 127, 127);
}

button[id='botao_update']:hover {
    background-color: #dfe161;
}

/* ESTILOS DA TABELA */
th {
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
}

td {
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    text-align: center;
}