{% extends "frontend_site/base/base.html" %}

{% block main_class %}sem-layout{% endblock %}

{% load static %}

{% block title %}Redefinir Senha{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'frontend_site/css/auth/registration.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block lateral_bar %}

{% endblock %}

{% block content %}
<div class="caixa">
    <div class="container">
        <h2>Senha redefinida com sucesso!</h2>
        <p>Agora você pode fazer login com sua nova senha.</p>
        <a href="{% url 'login' %}"><button>Ir para Login</button></a>
    </div>
</div>
{% endblock %}
