<!-- login.html -->
{% extends "frontend_site/base/base.html" %}

{% block main_class %}sem-layout{% endblock %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth/registration.css' %}">
{% endblock %}

{% block header %}

{% endblock %}

{% block lateral_bar %}

{% endblock %}

{% block content %}
    <div class="caixa" id="caixa_reset_password">
        <div class="container" id="container_reset_password">
            <h2 id="titulo_reset">E-mail de redefinição enviado!</h2>
        </div>
    </div>
{% endblock %}