/* (.CLASSES) */
.linha_campos {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.campo {
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(147, 147, 147);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.container_filtros {
    display: flex;
    margin-top: 10px;
    padding: 5px;
    gap: 10px;
    width: 100%;
    border-style:ridge;
    border-width: 1px;
    border-color: gray;
    background-color: gainsboro;
}

.container_filtros input, select {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: gray;
    padding: 5px 10px 5px 10px;
}

.container_relatorio {
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
    height: 75%;
    width: 100%;
    border-style:ridge;
    border-width: 1px;
    border-color: gray;
    overflow-x:auto;
    overflow-y: auto;
    scrollbar-width: auto; /* "auto" ou "thin" */
    scrollbar-color: rgb(197, 197, 197) #f1f1f1; /* thumb | track */
}

.container_relatorio::-webkit-scrollbar-thumb {
    background-color: #a1bccc; /* Cor da barra (thumb) - verde do seu tema */
    border-radius: 6px; /* Bordas arredondadas */
    border: 2px solid #f1f1f1; /* Borda ao redor da thumb */
}

/* ESTILOS ESPECÍFICOS */
/* (#ID) */
#tabela_lancamentos {
    width: 100%;
    border-collapse: collapse;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

/* ESTILOS DE BOTÕES */
button[id='botao_pesquisar'] {
    background-color: #4CAF50;
    color: white;
}

button[id='botao_pesquisar']:hover {
    background-color: #45a049;
}

/* ESTILOS DA TABELA */
th {
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    text-align: center;
    background-color: lightgray;
    font-weight: normal;
}

td {
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    padding: 5px;
    text-align: center;
}