/* global.css */

/* LAYOUT GERAL */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    flex-direction: column;
    height: 100vh;  /* Garante que a altura mínima ocupe toda a tela */
}

/* (.CLASSES) */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px 10px 20px;
    background-color: rgb(119, 167, 255);
}

.footer {
    font-size: 10px;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #ececec;
    text-align: center;
}

.formulario {
    padding: 10px;
}

.main {
    margin-left: 175px; /* Deixa espaço para a barra lateral */
    margin-top: 43px;   /* Evita sobreposição com o cabeçalho */
    margin-bottom: 40px; /* Evita sobreposição com o rodapé */
    padding: 15px;
    background-color: white;
    height: 100vh;
}

/* (#IDs) */
#titulo_header {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#menu_opcoes_logado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;            /* Alinha os itens no centro verticalmente */
}

#menu_opcoes_logado li {
    list-style: none;               /* Remove a marcação de lista */
}

#menu_opcoes_logado a {
    color: rgb(255, 255, 255);     /* Cor do texto dos links */
    text-decoration: none;           /* Remove o sublinhado */
    padding: 10px 20px;              /* Espaçamento dentro dos links */
}

#logo_apice {
    width: 40px;
    height: auto;
    padding: 0px 10px 0px 10px;
}

#barra_lateral {
    width: 175px;              /* Largura da barra lateral */
    position: fixed;
    left: 0;
    top: 43px;
    bottom: 40px;                /* Afastar a barra lateral abaixo do cabeçalho */
    background-color: #333;    /* Cor de fundo */
    color: white;
    padding-top: 20px;         /* Ajuste para não colar no topo */
}

#barra_lateral nav {
    color: white;
    padding: 10px;
}

#barra_lateral li {
    list-style: none;    
}

#barra_lateral a {
    text-decoration: none;
    color: white;
    display: block; /* Faz com que o link ocupe toda a largura */
    padding: 10px;  /* Adiciona espaço interno */
}

#barra_lateral a:hover {
    text-decoration: none; /* Adiciona o sublinhado ao passar o mouse */
    background-color: rgba(255, 255, 255, 0.2); /* Efeito de fundo opcional */
}

/* ESTILO ESPECÍFICOS */
/* (LABELS/INPUTS/TEXT-AREA) */
.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario input[type='text'],
.formulario input[type='number'],
.formulario input[type='date'] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos básicos para o submenu */
.submenu {
    display: none;
    padding-left: 20px;
    list-style-type: none;
}

.menu-item:hover .submenu {
    display: block;
}

.submenu-trigger::after {
    content: " ▼";
    font-size: 0.8em;
}

.menu-item:hover .submenu-trigger::after {
    content: " ▲";
}