.formulario {
    display:grid;
    align-content: center;
    width: 100%;
    padding: 10px;
}

.formulario input[type='text'],
.formulario input[type='number'],
.formulario input[type='date'] {
    width: 100%;
}

.formulario textarea[id='observacao'] {
    height: 100px;
    width: 100%;
}

.linha_campos {
    display: flex;
    gap: 20px;
}

.linha_campos .campo {
    flex-direction: column;
    flex: 1;
}