.linha_campos {
    display: flex;
    gap: 20px; /* Espaçamento entre os campos */
}

.linha_campos .campo {
    flex: 1; /* Divide o espaço igualmente */
}

.linha_campos input {
    width: 95%; /* Garante que os inputs ocupem o espaço disponível */
}

.formulario input[name='descricao'] {
    width: 95%;
    padding: 5px;
    margin: 5px 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}