<!-- lancamento_de_lentes.html -->
{% extends "frontend_site/base/base.html" %}

{% load static %}

{% block title %}Lançamento de Lentes{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estoque/lancamento_de_lentes.css' %}">
{% endblock %}

{% block header_title %}
    Lançamento de Lentes
{% endblock %}

{% block content %}
    <div class="menu_lancamento" id="menu_lancamento">
        <div class="botao_container">
            <button type="button" id="botao_gravar">Gravar</button>
        </div>
        <div class="botao_container">
            <button type="button" id="botao_update">Atualizar</button>
        </div>
    </div>
    <div class="formulario" id="formulario_entrada">
        <form action="{% url 'lancamento_de_lentes' %}" method="post" id="form_lancamento_lentes">
            {% csrf_token %}
            <div class="linha_campos" id="linha_campos_0">
                <div class="campo">
                    <label for="id">ID de Lançamento</label>
                    <input type="number"
                           id="id"
                           name="id"
                           value="{{ proximo_id }}"
                           readonly
                           class="campo-id"
                           >
                </div>
            </div>
            <div class="linha_campos" id="linha_campos_1">
                <div class="campo">
                    <label for="nota_fiscal">Nota Fiscal </label>
                    <input type="number" id="nota_fiscal" name="nota_fiscal" required>
                </div>
                <div class="campo">
                    <label for="duplicata">Duplicata </label>
                    <input type="text" id="duplicata" name="duplicata" required>
                </div>
                <div class="campo">
                    <label for="num_pedido">Número Pedido </label>
                    <input type="number" id="num_pedido" name="num_pedido" required>
                </div>
                <div class="campo">
                    <label for="data_compra" id="label_data_compra">Data da Compra </label>
                    <input type="date" id="data_compra" name="data_compra" required>
                </div>
            </div>
            <div class="linha_campos" id="linha_campos_1">
                <div class="campo">
                    <label for="ordem_de_servico">Ordem de Serviço </label>
                    <input type="number" id="ordem_de_servico" name="ordem_de_servico" required>
                </div>
                <div class="campo">
                    <label for="num_loja">Loja </label>
                    <input type="number" id="num_loja" name="num_loja" required>
                </div>
                <div class="campo">
                    <label for="codigo">Código </label>
                    <input type="number" id="codigo" name="codigo" required>
                </div>
            </div>

            <div class="linha_campos" id="linha_campos_2">
                <div class="campo">
                    <label for="num_pedido">Valor Pago </label>
                    <input type="number" id="valor_pago" name="valor_pago" required>
                </div>
                <div class="campo">
                    <label for="custo_tabela">Custo Tabela </label>
                    <input type="number" id="custo_tabela" name="custo_tabela" required>
                </div>
                <div class="campo">
                    <label for="custo_site">Custo Site </label>
                    <input type="number" id="custo_site" name="custo_site" required>
                </div>
                <div class="campo">
                    <label for="custo_nota_fiscal">Custo Nota Fiscal </label>
                    <input type="number" id="custo_nota_fiscal" name="custo_nota_fiscal" step="0.01" required>
                </div>
            </div>
                
            <div class="linha_campos" id="linha_campos_3">
                <div class="campo">
                    <label for="descricao_lente">Descrição da Lente </label>
                    <input type="text" id="descricao_lente" name="descricao_lente" required>                    
                </div>
                <div class="campo">
                    <label for="sequencial_savwin">Sequencial (SavWin) </label>
                    <input 
                        type="number"
                        id="sequencial_savwin"
                        name="sequencial_savwin"
                        min="1" 
                        max="99999999"
                        title="Digite um número entre 1 e 99.999.999"
                        required>
                </div>
                <div class="campo">
                    <label for="referencia_fabricante">Referência Fabricante </label>
                    <input type="text" id="referencia_fabricante" name="referencia_fabricante" required>
                </div>
            </div>

            <div class="linha_campos" id="linha_campos_4">
                <div class="campo" id="campo_data_liberacao_blu">
                    <label for="data_liberacao_blu" id="label_data_liberacao_blu">Data Liberação BLU </label>
                    <input type="date" id="data_liberacao_blu" name="data_liberacao_blu">
                </div>
            </div>

            <div class="campo">
                <label for="observacao">Observacão</label>
                <textarea id="observacao" name="observacao"></textarea>  
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
    </div>
    <script>
        // Passa as variáveis para o JavaScript global
        window.djangoContextData = '{{ django_context_json|escapejs }}';
    </script>
    <script src="{% static 'js/estoque/lancamento_de_lentes.js' %}"></script>
{% endblock %}
