<!-- listagem_lancamentos.html -->
{% extends "frontend_site/base/base.html" %}

{% load static %}

{% block title %}Listagem de Lançamentos{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estoque/listagem_lancamentos.css' %}">
{% endblock %}

{% block header_title %}
    Listagem de Lançamentos
{% endblock %}

{% block content %}
    <div class="linha_campos menu_botoes">
        <div class="botao_container">
            <button type="button" id="botao_pesquisar">Pesquisar</button>
        </div>
    </div>

    <form id="form_filtro_lancamentos" method="get">
        <div class="linha_campos">
            <div class="container_filtros">
                <div class="campo">
                    <label for="identificador">Identificador: </label>
                    <select name="identificador" id="identificador">
                        <option value="nota_fiscal">Nota Fiscal</option>
                        <option value="duplicata">Duplicata</option>
                        <option value="numero_pedido">Pedido</option>
                        <option value="ordem_servico">Ordem de Serviço</option>
                        <option value="loja">Loja</option>
                        <option value="data_compra">Data da Compra</option>
                    </select>
                    <input type="text" name="valor_identificador" id="valor_identificador">                    
                </div>
            </div>
        </div>
    </form>

    <div class="container_relatorio">
        <table id="tabela_lancamentos">
            <thead>
                <tr>
                    <th >Opções</th>
                    {% for coluna in colunas %}
                        <th>{{ coluna|title }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in dados %}

                    <tr data-id="{{ item.id }}">
                        <td>
                            <select name="opcoes_linha" id="opcoes_linha">
                                <option value="" selected>Selecione...</option>
                                <option value="editar">Editar</option>
                                <option value="excluir">Excluir</option>
                            </select>   
                        </td>
                        <td >{{ item.id }}</td>
                        <td >{{ item.data_compra|date:"d/m/Y" }}</td>
                        <td >{{ item.ordem_de_servico }}</td>
                        <td >{{ item.sequencial_savwin }}</td>
                        <td >{{ item.num_loja }}</td>
                        <td >{{ item.codigo }}</td>
                        <td >{{ item.descricao_lente }}</td>
                        <td >{{ item.referencia_fabricante }}</td>
                        <td >{{ item.num_pedido }}</td>
                        <td >{{ item.custo_site }}</td>
                        <td >{{ item.data_liberacao_blu|date:"d/m/Y" }}</td>
                        <td >{{ item.valor_pago }}</td>
                        <td >{{ item.custo_tabela }}</td>
                        <td >{{ item.nota_fiscal }}</td>
                        <td >{{ item.custo_nota_fiscal }}</td>
                        <td >{{ item.duplicata }}</td>
                        <td >{{ item.observacao }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="{{ colunas|length }}">Nenhum registro encontrado</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'js/estoque/listagem_lancamentos.js' %}"></script>
{% endblock %}